/* ........................................ */
.loading_con {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading div {
  display: flex;
}
.loading div span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  background: white;
}
.loading div span:nth-of-type(1) {
  animation: loader 0.7s linear infinite;
}
.loading div span:nth-of-type(2) {
  animation: loader2 0.7s linear infinite;
}
.loading div span:nth-of-type(3) {
  animation: loader3 0.7s linear infinite;
}

@keyframes loader {
  30% {
    background: grey;
  }
}
@keyframes loader2 {
  60% {
    background: grey;
  }
}
@keyframes loader3 {
  90% {
    background: grey;
  }
}
/* ....................... */
.error {
  border: 2px solid red;
  animation: error 0.25s linear;
}
@keyframes error {
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
